#ballWrapper {
	width: 140px;
	height: 400px;
	position: fixed;
	left: 50%;
	top: 0%;
	margin-left: -70px;
	z-index: 100;
	cursor: pointer;
}

#ball {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    background: rgb(187,187,187);
    background-image: -webkit-linear-gradient(left, #8F2B71 50%, #707176 0%);
}

#ground {
    width: 100%;
    height: 10px;
    position: absolute;
    top: 540px;
    background: #8F2B71;
}

label, input {
    font-size:1.5em;
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}



